.logowhiteIcon {
  width: 180px;
  height: 35px;
  position: relative;
  object-fit: contain;
}
.fickleFlightIs {
  align-self: stretch;
  position: relative;
  line-height: 27px;
  font-style: italic;
}
.facebookIcon {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: contain;
}
.socialMediaLink {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.instagramIcon {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: contain;
}
.socialMediaLink1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.twitterIcon {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: contain;
}
.socialMediaLink2 {
  flex-direction: row;
  padding: var(--padding-3xs);
}
.fickleflightBio,
.socialMediaLink2,
.socialMediaLinksContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.socialMediaLinksContainer {
  overflow: hidden;
  flex-direction: row;
}
.fickleflightBio {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 280px;
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.company {
  width: 174.7px;
  position: relative;
  line-height: 27px;
  display: inline-block;
  font-weight: 500;
}
.aboutUs,
.careers,
.howWeWork,
.news {
  align-self: stretch;
  position: relative;
  font-style: italic;
}
.containers,
.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.linkContainer {
  align-self: stretch;
  padding: 0 0 var(--padding-smi-6);
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.containers {
  width: 200px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 200px;
}
.support {
  width: 131.6px;
  position: relative;
  line-height: 27px;
  display: inline-block;
  font-weight: 500;
}
.accessibility,
.account,
.faq,
.supportCenter {
  align-self: stretch;
  position: relative;
  font-style: italic;
}
.containers1,
.linkContainer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.linkContainer1 {
  align-self: stretch;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.containers1 {
  width: 200px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 200px;
}
.more {
  width: 76.7px;
  position: relative;
  line-height: 27px;
  display: inline-block;
  font-style: italic;
  font-weight: 500;
}
.airlineFees,
.covidAdvisory,
.quarantineRules,
.tips {
  align-self: stretch;
  position: relative;
  font-style: italic;
}
.containers2,
.linkContainer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.linkContainer2 {
  align-self: stretch;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.containers2 {
  width: 200px;
  gap: var(--gap-sm);
  min-width: 200px;
}
.footer,
.footerLinks {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.footerLinks {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: 44px 42.7px;
  max-width: 1320px;
}
.footer {
  align-self: stretch;
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-41xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--neutral-100);
  font-family: var(--components-chip);
}
@media screen and (max-width: 1350px) {
  .footerLinks {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .footerLinks {
    gap: var(--gap-2xl);
  }
  .footer {
    gap: var(--gap-3xl);
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .company,
  .more,
  .support {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
}
